.screen {
  display: flex;
  // border: red solid 2px;
  position: relative;

  margin-top: 0;
  width: 100%;
  gap: 1%;
  height: 30vw;
  padding: 0 5px;
  .left {
    flex: 1;
    display: flex;
    height: 100%;
    width: 25%;
    // border: red solid 2px;
    padding: 0;
    // margin-left: 5px;

    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
      border-radius: 10px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      border-color: none;
      padding: 5px 30px 5px 20px;
      margin: 0;

      li {
        // border: red solid 2px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #666666;
        font-size: 1vw;
        font-weight: 400;
        cursor: pointer;
        border-bottom: rgba(0, 0, 0, 0.3) solid 0.5px;

        &:last-child {
          border: none;
        }
      }
    }
  }
  .right {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-right: 10px;
    overflow: hidden;
    // border: red solid 2px;
  }
}
