.business {
  width: 100vw;
  overflow: hidden;
  margin-left: -20px;
  .container {
    width: 200vw;
    display: flex;
    transition: all 0.4s ease-in;

    img {
      width: 100vw;
      object-fit: cover;
    }
  }
}
