.container-7 {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  position: relative;

  .carousel-7 {
    transition: all 0.5s ease-in-out;
    display: flex;
    gap: 2vw;
    width: fit-content;
    padding: 0 2vw;
    height: 100%;
    background-image: url(/img/slide_7_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;
    // border: red solid 2px;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    position: absolute;
    left: 50vw;
    padding: 0 2vw;

    animation: fadeIn 1.5s, slide 0.5s, blur 1s forwards;
    -webkit-animation: fadeIn 1.5s, slide 0.5s, blur 1s forwards;
    -moz-animation: fadeIn 1.5s, slide 0.5s, blur 1s forwards;
    -o-animation: fadeIn 1.5s, slide 0.5s, blur 1s forwards;
    -ms-animation: fadeIn 1.5s, slide 0.5s forwards, blur 1s;

    // -webkit-animation-delay: 0.5s;
    // animation-delay: 0.5s;

    @-webkit-keyframes slide {
      100% {
        left: -5vw;
      }
    }

    @keyframes slide {
      100% {
        left: -5vw;
      }
    }

    @-webkit-keyframes blur {
      0% {
        -webkit-filter: blur(10px);
      }

      100% {
        -webkit-filter: blur(0px);
      }
    }

    @keyframes blur {
      0% {
        -webkit-filter: blur(10px);
      }

      100% {
        -webkit-filter: blur(0px);
      }
    }

    &:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }

    .carousel-item {
      display: flex;
      justify-content: center;
      align-items: center;
      // border: red solid 2px;

      img {
        object-fit: cover;
        transition: all 0.5s ease-in-out;
        cursor: pointer;

        &:hover {
          transform: scale(1.08);
        }
      }
    }
  }
  .react-multiple-carousel__arrow {
    background-color: transparent;
    border: #0d65ea solid 2px;
    width: 50px;
    height: 50px;
    color: #0d65ea;
  }

  .react-multiple-carousel__arrow::before {
    color: #0d65ea;
    cursor: pointer;
  }

  .react-multiple-carousel__arrow--right {
    position: absolute;
    right: 30px;
    top: 40%;
    transition: all 0.8s ease-in-out;
    &:hover {
      transform: translateX(10px);
    }
  }
  .react-multiple-carousel__arrow--left {
    transition: all 0.8s ease-in-out;
    position: absolute;
    left: 30px;
    top: 40%;
    &:hover {
      transform: translateX(-10px);
    }
  }
}
