.platformCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.5%;
  height: 5.5vw;
  position: relative;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  border: black solid 0.1px;
  margin-top: 1vw;
  // border: red solid 2px;

  &:hover {
    transform: scale(1.08);
  }
  //   border: red solid 2px;

  img {
    width: 90%;
    height: 100%;
    object-fit: cover;

    cursor: pointer;
  }
}
