@media only screen and (min-width: 1260px) {
  .App {
    .appWrapper {
      padding: 0 5vw;
    }
  }
}

.App {
  width: 100vw;
  padding: 10px 0;
  // position: relative;
  // border: red solid 2px;
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;

    font-size: 1vw;
    color: #999999;
  }

  .appWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    // padding: 0 20px;
    width: 100%;
    .slideContainer {
      // border: red solid 2px;
      width: 90%;
      height: 650px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .title {
        width: 100%;
        text-align: center;
        font-size: 5vw;
        margin: 50px 20px 15px 20px;
        color: #666666;
        font-weight: 400;
      }
    }
  }
}
